:root{
    --pink:#e84393;
}

body{
    margin: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.bit{
    margin-top: 25px;
    color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.5rem;
    display: inline-block;
}

.bit:hover{
    background: rgb(202, 86, 43);
    width: fit-content;
}

.btn1{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.btn1:hover{
    background:var(--pink);
}

.btn2{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.btn2:hover{
    background:var(--pink);
}
