.header
{height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#999999;
}
.f
{
height:250px;
width:1000px;
}
.logo
{height:250px;
width:300px;
float:left;
}
.company
{height:250px;
width:700px;
background-color:#669999;
float:right
}
.t
{position:relative;
top:120px;
left:200px;
font-size:46px;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
background-color:#6666FF;
}

.menu
{hight:50px;
width:1000px;
float:left;
}
.menu ul li
{display:inline;
padding:70px;
}
.menu ul li  a
{text-decoration:none;
color:#000000;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
background-color:#999966;
}
.footer
{
height:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#0099FF;
}
.f
{
text-align:center;
font-size:24px;
color:#FFFFFF;
}
.home
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#99CC99;
}
.img
{
float:left;
}
.heading
{
height:100px;
width:1000px;
float:left;
background-color:#00FFFF;
font-size:24px;
text-align:center;
}
.para
{
height:300px;
width:1000px;
float:left;
font-size:24px;
text-align:justify;
}
.about
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#00FFFF;
}
.img1
{
float:left;
}
.img2
{
float:left;
}
.img3
{
float:right;
}
.img4
{
float:left;
}
.img5
{
float:left;
}
.img6
{
float:right;
}


